/* Customized ES-Linting based on Airbnb.
 * Change to your needs:
 * https://eslint.org/docs/rules/
 */
{
  "parser": "babel-eslint",
  "extends": ["airbnb-base"],
  "globals": {
    "document": true,
    "window": true
  },
  "rules": {
    "space-infix-ops": 0,
    "no-unused-vars": 1,
    /* Warning on using let instead const */
    "prefer-const": 1,
    /* strings */
    "quotes": [2, "double", "avoid-escape"],
    /* allows writing ++ */
    "no-plusplus": 0,
    "indent": [2, "tab"],
    /* disables error for identiation */
    "no-tabs": 0,
    /* disables error for unexpected console.log */
    "no-console": 0,
    /* disables the need of spacing in comments */
    "spaced-comment": 0,
    /* forces the use of extensions for all import statements except package imports */
    "import/extensions": ["error", "always", { "ignorePackages": true }]
  },
  /* extra linting rules for HTML files*/
  "overrides": [
    {
      "files": "*.html",
      "rules": {
        "no-unused-expressions": 0,
        "semi": 0
      }
    }
  ]
}
