@font-face {
  font-family: "fjalla_oneregular";
  src: url("../assets/fonts/fjallaOne/fjallaone-regular-webfont.woff2") format("woff2"), url("../assets/fonts/fjallaOne/fjallaone-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
